.orders-body{
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.orders-body .title{
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 30px;
}
.orders-body .header{
    background-color: #F4F4F4;
    width: 100%;
    height: 9%;
    display: flex;
    font-weight: bold;
    letter-spacing: 1px;
}
.orders-body .header .product{
    width: 25%;
    padding-left: 25px;
}
.orders-body .header .price{
    width: 20%;
    padding-left: 25px;

}
.orders-body .header .quantity{
    width: 22%;
    padding-left: 25px;

}
.orders-body .header .total{
    width: 20%;
    padding-left: 25px;

}
.orders-body .header .remove{
    width: 13%;
    padding-left: 25px;

}
.orders-body .chosen-product-holder{
    height: 80%;
    overflow: auto;
    margin-top: 25px;
    border-bottom: 1px solid black;
}
.orders-body .chosen-product{
    display: flex;
}
.orders-body .chosen-product .name{
    width: 25%;
    padding-left: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.orders-body .chosen-product .price{
    width: 20%;
    font-weight: bold;
    letter-spacing: 1px;
}
.orders-body .chosen-product .quantity-holder{
    width: 22%;
    margin-top: 5px;
}
.orders-body .chosen-product .quantity-holder .quantity{
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    width: 180px;
    height: 80%;
}
.orders-body .chosen-product .quantity-holder .quantity .plus-button{
    width: 25%;
}
.orders-body .chosen-product .quantity-holder .quantity .plus-button button{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    border: none;
    border-left: 1px solid black;
}
.orders-body .chosen-product .quantity-holder .quantity .product-quantity{
   
    width: 50%;
    text-align: center;
    font-weight: bold;
}
.orders-body .chosen-product .quantity-holder .quantity .minus-button{
    width: 25%;
}
.orders-body .chosen-product .quantity-holder .quantity .minus-button button{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    border: none;
    border-right: 1px  solid black;
}
.orders-body .chosen-product .total-price{
    width: 20%;
    font-weight: bold;
    letter-spacing: 1px;
}

.orders-body .chosen-product .remove-button{
    width: 13%;
    margin: 0px;
}
.orders-body .chosen-product .remove-button button{
    border: none;
    width: 50px;
    height: 40px;
    background-color: white;
}
.orders-body .chosen-product .remove-button button img{
    width: 100%;
    height: 100%;
}
.orders-body .footer{
    height: 11%;
    display: flex;
}
.orders-body .footer .total-price-value{
    width: 50%;
    font-weight: bold;
    letter-spacing: 1px;
}
.orders-body .footer .buy-button{
    width: 50%;
    text-align: right;
}
.orders-body .footer .buy-button button{
    border-radius: 30px;
    background-color: #34983E;
    color: white;
    font-weight: bold;
    border: none;
    width: 157px;
    height: 37px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.orders-body .footer .buy-button button:hover{
    background-color: #308b39;

}

