.home-container{
    margin: auto;
    height: 100vh;
    width: 80%;
}

.home-container .categories-products-container{
    border: 1px solid #D8D8D8;
    height: 90%;
    margin-top: 22px;
   
}

.home-container .categories-products-container .categories{
    border: 1px solid #C4C4C4;
    width: 24%;
    height: 100%;
    float: left;
}

.home-container .categories-products-container .categories .categories-title{
    background-color: #34983E;
    width: 100%;
    height: 44px;
    text-align: center;
}
.home-container .categories-products-container .categories .categories-title .title{
    margin-top: 0px;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.home-container .categories-products-container .categories .categories-elements{
    overflow: auto;
    width: 92%;
    margin: auto;
    margin-top: 20px;
    height: 85%;
}
.home-container .categories-products-container .categories .categories-elements .element{
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    height: 36px;
    padding-bottom: 3px;
}
.home-container .categories-products-container .categories .categories-elements .element img{
    display: inline-block;
    margin-left: 38px;
    margin-right: 22px;
}
.home-container .categories-products-container .categories .categories-elements .element p{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #34983E;  
}

.home-container .categories-products-container .products{
  
    height: 100%;
    width: 75.8%;
    overflow: auto;
    text-align: center;
}
.home-container .categories-products-container .products .product{
    display: inline-block;
    border: 1px solid #ECECEC;
    height: 185px;
    width: 168px;
    margin-left: 15px;
    margin-top: 15px;
}
.home-container .categories-products-container .products .product .product-title{
    width: 100%;
    height: 21px;
    background-color: #34983E;
    
}
.home-container .categories-products-container .products .product .product-title p{
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.home-container .categories-products-container .products .product .product-image{
    width: 108px;
    height: 108px;
    margin: auto;
    width: 100%;
    height: 66%;
    text-align: center;
}

.home-container .categories-products-container .products .product .product-image img{
    width: 80%;
    height: 80%;
    margin-top: 10px;
}

.home-container .categories-products-container .products .product .product-info{
    margin: auto;
    height: 90%;
    height: 20%;
}

.home-container .categories-products-container .products .product .product-info .product-price{
    float: left;
    height: 100%;
    width: 24%;
}

.home-container .categories-products-container .products .product .product-info .product-price p{
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 0px 0px 5px;
    font-weight: bold;
}

.home-container .categories-products-container .products .product .product-info .product-buttons{
    float: right;
    width: 65%;
    height: 100%;
    text-align: right;
    margin-left: 10px;
}

.home-container .categories-products-container .products .product .product-info .product-buttons button{
    width: 45px;
    height: 25px;
    margin:5px 4px 0px 4px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: #34983E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.home-container .categories-products-container .products .product .product-info .product-buttons .blue {
    background-color: #311DAC;
}

@media screen and (max-width: 1200px) {
    .home-container{
        width: 90%;
    }
}

@media screen and (max-width: 1030px) {
    .home-container{
        width: 98%;
    }
}
@media screen and (max-width: 950px) {
    .home-container .categories-products-container .categories .categories-title .title{
        font-size: 16px;
    }
    .home-container .categories-products-container .categories .categories-elements .element img{
        margin-left: 36px;
        margin-right: 20px;
    }
    .home-container .categories-products-container .categories .categories-elements .element p{  
        font-size: 15px;
    }
}
@media screen and (max-width: 865px) {
    .home-container .categories-products-container .categories .categories-title .title{
        font-size: 14px;
    }
    .home-container .categories-products-container .categories .categories-elements .element img{
        margin-left: 34px;
        margin-right: 18px;
    }
    .home-container .categories-products-container .categories .categories-elements .element p{  
        font-size: 13px;
    }
}
@media screen and (max-width: 810px) {
    .home-container .categories-products-container .products{
        width: 75%;
    }
    .home-container .categories-products-container .categories .categories-title .title{
        font-size: 12px;
    }
    .home-container .categories-products-container .categories .categories-elements .element img{
        margin-left: 31px;
        margin-right: 15px;
    }
    .home-container .categories-products-container .categories .categories-elements .element p{  
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .home-container .categories-products-container .categories{
        display: none;
    }
    .home-container .categories-products-container .products{
  
        height: 100%;
        width:99%;

    }
}
@media screen and (max-width: 386px) {
    .home-container .categories-products-container .products .product{
        width: 70%;
    }
}
@media screen and (max-width: 285px) {
    .home-container .categories-products-container .products .product{
        width: 100%;
    }
}





