.contact-container{
    margin: auto;
    height: 100vh;
    width: 80%;
}
.contact-container .contact-header{
    position: absolute;
    right: 0px;
    left: 0px;
    height: 57px;
    background-color: #34983E;
}
.contact-container .contact-header p{
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10%;
}
.contact-container .email{
    float: left;
    width: 50%;
    background-color: aqua;
    margin: 0px;
}
.contact-container .email .email-section{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 580px;
    width: 321px;
    margin: auto;
    margin-top: 90px;
}
.contact-container .email .email-section .email-header{
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #34983E;
    text-align: center;
    padding-top: 10px;
}
.contact-container .email .email-section .email-header p{
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
    margin: 3px;
}   
.contact-container .email .email-section .email-body{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.contact-container .email .email-section .email-body .email-title p{
    margin: 0px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 10px;
}
.contact-container .email .email-section .email-body .email-title input{
    border: 1px solid #D5D5D5;
    width: 100%;
    height: 42px;
    margin: 10px 0px 0px 0px;
}
.contact-container .email .email-section .email-message p{
    margin: 40px 0px 0px 0px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 10px;
}
.contact-container .email .email-section .email-message textarea{
    border: 1px solid #D5D5D5;
    width: 100%;
    height: 250px;
    margin: 10px 0px 0px 0px;
    resize: none;
}

.contact-container .email-section .email-bottom{
    margin: auto;
    width: 80%;
    text-align: right;
    margin-top: 20px;
}
.contact-container .email-section .email-bottom button{
    border-radius: 7px;
    height: 32px;
    width: 90px;
    margin: 0px;
    background-color: #34983E;
    color: white;
    border: none;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 11px;
}
.contact-container .map{
    width: 50%;
    height: 100%;
    float: right;
    background-color: #b3bdb4;
}
.contact-container .map .map-header{
    background-color: red;
    margin-top: 150px;
    text-align: center;
}
.contact-container .map .map-header p{
    margin: 0px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
}
