.news-container{
    border: 1px solid black;
    margin: auto;
    height: 100vh;
    width: 80%;
}
.news-container .news-header{
    position: absolute;
    right: 0px;
    left: 0px;
    height: 57px;
    background-color: #34983E;
}
.news-container .news-header p{
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10%;
}
